* {
	box-sizing: border-box;
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
	line-height: 200%
}

body {
	background-image: url("../images/ep_naturalwhite.png");
}

h1 {
	text-align: center;
	color: #fff;
	background-color: #4aaaa5;
	box-shadow: 0 0 10px #aaa;
	padding: 10px 0px;
	opacity: 0.7;
}

#container {
	margin: 20px;
	padding: 20px;
	width: 75%;
	margin: auto;
	background-color: #fff;
	box-shadow: 0 0 10px #aaa;
	min-height: 1000px;
	margin-bottom: 150px;
}

#burger img {
	height: 100px;
	margin-right: 30px;
}

#addburger {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	color: #999;
	margin: 0 20px 20px 20px;
}

#newburger {
	padding: 3px;
	min-width: 200px;
}

#burgerholder {
	float: left;
	width: 47%;
	color: #999;
	background-color: #eee;
	margin: 10px;
}

#burgergone {
	float: right;
	width: 47%;
	color: #999;
	background-color: #eee;
	margin: 10px;
}

.customer {
	font-size: 14px;
	display: none;
}

h3 {
	background-color: #4aaaa5;
	color: #fff;
	padding: 0 10px;
}

p {
	text-align: center;
}

a {
	color: #999;
	text-decoration: none;
}

button {
	border: 0;
	background-color: #4aaaa5;
	color: #fff;
	padding: 3px 5px;
	min-width: 100px;
	font-size: 14px;
	margin: 0 5px;
}

form {
	display: inline;
}

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 15px;
	width: 100%;
	text-align: center;
	background-color: #aaa;
	color: #ddd;
	font-size: 15px;
	border-top: 8px solid #4aaaa5;
	opacity: 0.7;
	z-index: 5;
}

@media only screen and (max-width: 980px) {
	#burgerholder {
		float: none;
		width: 100%;
		min-height: 100px;
		color: #999;
		background-color: #eee;
		margin: 10px;
		padding-bottom: 10px;
	}

	#burgergone {
		float: none;
		width: 100%;
		min-height: 100px;
		color: #999;
		background-color: #eee;
		margin: 10px;
		padding-bottom: 10px;
	}

	button {
		display: inline-block;
	}
}